html,body {
    margin: 0;
    padding: 0;
}

#inner-dropzone {
    top: 50px;
    left: 35px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: transparent;
}

.tail {
    display: none;
    z-index: 2;
    position: absolute;
}

.donkey {
    left: 600px;
    z-index: 1;
    width: 340px;
    height: 226px;
    position: absolute;
}

.drag-drop {
    display: inline-block;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

    transition: background-color 0.3s;
}

.drag-drop.can-drop { 
    background-color: #4e4;
}

/* SKINS */
/*********************/

#mainWrapper {
    z-index: 1;
    width: 1024px;
    height: 768px;
    position: absolute;
    background-size: 100%;
}

#endGameView,
#standByView {
    z-index: 2;
    width: 1024px;
    height: 768px;
    display: none;
    position: absolute;
    background-size: 100%;
}

.obstacle {
    position: absolute;
}


/* -------------------------------------------------------------------------------------
 * Estefanía Tastan */
.estefaniaTastan {
    background: transparent url('../img/themes/estefaniaTastan/bg.jpg') left top no-repeat;
}

.estefaniaTastan .tail {
    width: 72.5px;
    height: 117px;
    background: transparent url('../img/themes/estefaniaTastan/tail.png') left top no-repeat;
    background-size: 100%;
}

.estefaniaTastan .donkey {
    top: 500px;
    width: 345px;
    height: 250px;
    background: transparent url('../img/themes/estefaniaTastan/donkey.png') left top no-repeat;
    background-size: 100%;
}

.estefaniaTastan .obstacle1 {
    width: 150px;
    height: 150px;
    background: transparent url('../img/themes/estefaniaTastan/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.estefaniaTastan .obstacle2 {
    width: 150px;
    height: 250px;
    background: transparent url('../img/themes/estefaniaTastan/obstacle2.png') left top no-repeat;
    background-size: 100%;
}

.estefaniaTastan .obstacle3 {
    width: 150px;
    height: 150px;
    background: transparent url('../img/themes/estefaniaTastan/obstacle3.png') left top no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------
 * Pablo Montero */
.pabloMontero {
    background: transparent url('../img/themes/pabloMontero/bg.jpg') left top no-repeat;
}

.pabloMontero .tail {
    width: 51px;
    height: 144px;
    background: transparent url('../img/themes/pabloMontero/tail.png') left top no-repeat;
}

.pabloMontero .donkey {
    width: 340px;
    height: 250px;
    background: transparent url('../img/themes/pabloMontero/donkey.png') left top no-repeat;
}

.pabloMontero .obstacle1 {
    width: 118px;
    height: 115px;
    background: transparent url('../img/themes/pabloMontero/obstacle1.png') left top no-repeat;
}

.pabloMontero .obstacle2 {
    width: 146px;
    height: 87px;
    background: transparent url('../img/themes/pabloMontero/obstacle2.png') left top no-repeat;
}

.pabloMontero .obstacle3 {
    width: 122px;
    height: 100px;
    background: transparent url('../img/themes/pabloMontero/obstacle3.png') left top no-repeat;
}


 /* -------------------------------------------------------------------------------------
  * Fabio Castro */
.fabioCastro {
    background: transparent url('../img/themes/fabioCastro/bg.jpg') left top no-repeat;
}

.fabioCastro .tail {
    width: 132px;
    height: 135px;
    background: transparent url('../img/themes/fabioCastro/tail.png') left top no-repeat;
    background-size: 100%;
}

.fabioCastro .donkey {
    width: 313px;
    height: 250px;
    background: transparent url('../img/themes/fabioCastro/donkey.png') left top no-repeat;
    background-size: 100%;
}

.fabioCastro .obstacle1 {
    width: 76px;
    height: 151px;
    background: transparent url('../img/themes/fabioCastro/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.fabioCastro .obstacle2 {
    width: 76px;
    height: 151px;
    background: transparent url('../img/themes/fabioCastro/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.fabioCastro .obstacle3 {
    width: 76px;
    height: 151px;
    background: transparent url('../img/themes/fabioCastro/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------
 * Paz Ulloa */
.pazUlloa {
    background: transparent url('../img/themes/pazUlloa/bg.jpg') left top no-repeat;
}

.pazUlloa .tail {
    width: 97px;
    height: 190px;
    background: transparent url('../img/themes/pazUlloa/tail.png') left top no-repeat;
    background-size: 100%;
}

.pazUlloa .donkey {
    width: 239px;
    height: 260px;
    background: transparent url('../img/themes/pazUlloa/donkey.png') left top no-repeat;
    background-size: 100%;
}

.pazUlloa .obstacle1 {
    width: 177.5px;
    height: 239px;
    background: transparent url('../img/themes/pazUlloa/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.pazUlloa .obstacle2 {
    width: 245px;
    height: 132.5px;
    background: transparent url('../img/themes/pazUlloa/obstacle2.png') left top no-repeat;
    background-size: 100%;
}

.pazUlloa .obstacle3 {
    width: 111.5px;
    height: 146.5px;
    background: transparent url('../img/themes/pazUlloa/obstacle3.png') left top no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------
 * Gabo Murillo */
.gaboMurillo {
    background: transparent url('../img/themes/gaboMurillo/bg.jpg') left top no-repeat;
}

.gaboMurillo .tail {
    width: 97.5px;
    height: 175.5px;
    background: transparent url('../img/themes/gaboMurillo/tail.png') left top no-repeat;
    background-size: 100%;
}

.gaboMurillo .donkey {
    width: 239px;
    height: 340px;
    background: transparent url('../img/themes/gaboMurillo/donkey.png') left top no-repeat;
    background-size: 100%;
}

.gaboMurillo .obstacle1 {
    width: 131px;
    height: 87.5px;
    background: transparent url('../img/themes/gaboMurillo/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.gaboMurillo .obstacle2 {
    width: 106px;
    height: 156.5px;
    background: transparent url('../img/themes/gaboMurillo/obstacle2.png') left top no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------
 * Pablo Rojas */
.pabloRojas {
    background: transparent url('../img/themes/pabloRojas/bg.jpg') left top no-repeat;
}

.pabloRojas .tail {
    width: 97px;
    height: 190px;
    background: transparent url('../img/themes/pabloRojas/tail.png') left top no-repeat;
    background-size: 100%;
}

.pabloRojas .donkey {
    top: 123px;
    width: 275px;
    height: 490px;
    background: transparent url('../img/themes/pabloRojas/donkey.png') left top no-repeat;
    background-size: 100%;
}

.pabloRojas .obstacle1 {
    width: 114px;
    height: 97px;
    background: transparent url('../img/themes/pabloRojas/obstacle1.png') left top no-repeat;
    background-size: 100%;
}

.pabloRojas .obstacle2 {
    width: 91px;
    height: 120px;
    background: transparent url('../img/themes/pabloRojas/obstacle2.png') left top no-repeat;
    background-size: 100%;
}

.pabloRojas .obstacle3 {
    width: 115px;
    height: 131.5px;
    background: transparent url('../img/themes/pabloRojas/obstacle3.png') left top no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------------------*/
.hide {
    display: none !important;
}

.show {
    display: block !important;
}